# Variables de Entorno para el Frontend (Vite)
VITE_CLOUDINARY_CLOUD_NAME=yvo7dzmz
VITE_CLOUDINARY_API_KEY=479641136355382
VITE_CLOUDINARY_UPLOAD_PRESET=cristian_portfolio

# Variables de Entorno para el Backend / Serverless Functions (Vercel)
# NUNCA compartas ni expongas este secreto en el código frontend
CLOUDINARY_API_SECRET=cru6sQMUJ3hzoLoDqh9nVJw0ijI
